.ArticlesDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendations {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 2px solid var(--primary-color);  /* отступ вокруг бегунка */
}